<div class="container is-flex m-10 is-justify-content-flex-start is-align-items-center">
    <h3 class="is-size-2 mr-5">Filters:</h3>
    <form method="get" action="{{ url_for('home') }}" style="flex-grow: 1;">
        <div class="is-flex is-justify-content-flex-start is-align-items-center">


            <div class="field">
                <label class="label" for="manufacturer_name"></label>
                <div class="control">
                    <div class="select">
                        <select name="manufacturer_name" id="manufacturer_name">
                            <option value="" disabled selected>Select a Manufacturer</option>

                            {% for car in cars.manufacturer %}
                            <option value="{{ car.manufacturerID }}">
                                {{ car.manufacturer_name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label" for="vehicle_type"></label>

                <div class="control">
                    <div class="select">
                        <select name="vehicle_type" id="vehicle_type">

                            <option value="" disabled selected>Select a Type</option>

                            {% for car in cars.vehicle_types %}
                            <option value="{{ car.vehicle_typeID }}">
                                {{ car.vehicle_type_name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label" for="model_year"></label>
                <div class="control">
                    <div class="select">
                        <select name="model_year" id="model_year">
                            <option value="" disabled selected>Select a Model</option>

                            {% for car in cars.vehicle_years %}

                            <option value="{{ car.model_year }}">
                                {{ car.model_year }}
                            </option>

                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label" for="fuel_type"></label>

                <div class="control">
                    <div class="select">
                        <select name="fuel_type" id="fuel_type">

                            <option value="" disabled selected>Select Fuel Type</option>

                            {% for car in cars.fuel_types %}
                            <option value="{{ car.fuel_type }}">
                                {{ car.fuel_type }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label" for="color_selection"></label>

                <div class="control">
                    <div class="select">
                        <select name="color_selection" id="color_selection">

                            <option value="" disabled selected>Select a Color</option>

                            {% for car in cars.colors %}
                            <option value="{{ car.colorID }}">
                                {{ car.color_name}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <button type="submit" class="button is-medium is-primary ml-auto">Submit</button>
        </div>
    </form>
</div>