<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu m-4 has-text-left">

        <!-- Heading -->
        <div class="navbar-start">
            <p class="is-size-3">Ben's Automobiles</p>
        </div>

        <!-- Sign In Button -->
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons is-centered">
                    <a class="button is-medium is-primary" href="/login">Sign In</a>
                </div>
            </div>
        </div>

    </div>
</nav>
