{% extends "base.html" %}

{% block title %}Login {% endblock %}


{% block body %}
<div class="hero has-background-white is-fullwidth is-fullheight has-text-centered">
    <div class="column is-4 is-offset-4">
        <div class="mt-4">
            <!-- Found information about this box on the bulma website and it looked like a login format -->
            <form class="box">

                <div class="field">
                    <label class="label has-text-left">User</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="Admin, Buyer, Seller"/>
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-left">Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="Password"/>
                    </div>
                </div>

                <!-- Linking an a tag and formatting it to look like a button was easier than making a button work -->
                <a class="button is-medium is-fullwidth" href="/home">Login</a>

            </form>
        </div>
    </div>
</div>

{% endblock %}

