{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block body %}

<h1 class="title is-2 has-text-centered">Sales Productivity Report</h1>

<div class="container">
    {% for p in info %}
    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="is-size-5">Sales Person: {{ p.salesperson }}</strong>
                        <br>
                        <small>Vehicles Sold:</small> <strong>{{ p.vehicles_sold }}</strong>
                        <br>
                        <small>Total Sold Price:</small> <strong>${{ p.total_sold_price | round(2, 'floor') | string
                        }}</strong>
                        <br>
                        <small>Average Sale Price:</small>
                        {% if p.avg_sale_price %}
                        ${{ p.avg_sale_price | round(2, 'floor') | string }}
                        {% else %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </article>
    </div>
    {% endfor %}
</div>
{% endblock %}