{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block body %}

<h1 class="title is-2 has-text-centered">Seller History Report</h1>

<div class="container">
    {% for p in info %}
    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="is-size-5">Seller: {{ p.seller_name }}</strong>
                        <br>
                        <small>Vehicles Sold to Dealer:</small> <strong>{{ p.vehicles_sold_to_dealer }}</strong>
                        <br>
                        <small>Total Paid to Seller:</small>
                        ${{ p.total_paid | round(2, 'floor') | string }}
                    </p>
                </div>
            </div>
        </article>
    </div>
    {% endfor %}
</div>

{% endblock %}